<header>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h1>Bentica</h1></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="nav navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/products?limit=6&page=1"
            >Products</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/current"
            >Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/cart"><i
                class="material-icons"
              >shopping_cart</i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Datos del usuario</h3>
    <p class="card-text">Nombre: {{profile.firstname}} </p>
    <p class="card-text">Apellido: {{profile.lastname}} </p>
    <p class="card-text">email: {{profile.email}} </p>
    <p class="card-text">Edad: {{profile.age}}</p>
    <p class="card-text">Rol: {{profile.rol}}</p>
  </div>
</div>